body {
	font-family: "Open Sans", sans-serif; 
	margin-top: 300px;
	text-align: center; 
}

#clock {
	font-weight: 300;
	font-size: 8rem; 
	color: #FFFFFF; 
}

@media screen and (max-width: 800px) {
    #clock {
        font-size:500%;
    }
} 

#color {
	color: #FFFFFF; 
	font-weight: 300;
	font-size: 2rem; 
} 